*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.portada{
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    /* margin: 0 3vh; */
    background-color: #fff;
    padding: 5vh 0;
    text-align: justify;
    
}

#indice_nebulosas{
    width: 80%;
    height: 28vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: rgba(199, 194, 194, 0.466);
    /* margin: 3vh 5vw;
    padding: 3vh; */
    border-radius: 10px;
    border: 1px solid #000;


}

#indice_galaxias{
    width: 80vw;
    height: 38vh;
    align-items: center;
    align-self: center;
    background-color: rgba(199, 194, 194, 0.466);
    margin: 3vh 2vw;
    padding: 3vh;
    border-radius: 10px;
    border: 1px solid #000;
}



h1{
    text-align: center;
    margin: 10vw 0;
}

h2{
    text-align: center;
    margin: 1vh 0;
}

.title{
    margin: 3vh 0;
    font-size: 2rem;
    text-align: center;
}

.subtitle{
    margin: 2vh 0;
    font-size: 1.5rem;
    text-align: center;
}

p{
    padding: 3vw;
}

img{
    width: 100%;
}