*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(./Assets/los-pilares-de-la-creacion-mobile.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    
}

#register{
    width: 60%;
    height: 80%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 50px 20px;
    
}

#register h1{
    color: white;
    margin-bottom: 50px;
    margin-top: -35px;
}

ul li{
    list-style-type: none;
    margin-top: 10px;
    
}

label {
    color: white;
    font-size: 18px;
}

#register button{
    border: 0;
    width: 35vw;
    height: 5vh;
    margin-top: 18px;
    margin-left: 25px;
    font-size: 18px;
    color: white;
    border-radius: 25px;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    
}