*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(./Assets/los-pilares-de-la-creacion-mobile.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    
}

#register{
    width: 60%;
    height: 80%;
    background: #00000080;
    border-radius: 20px;
    padding: 50px 20px;
    
}

#register h1{
    text-align: center;
    color: white;
    margin-bottom: 50px;
    margin-top: -35px;
}

ul li{
    list-style-type: none;
    margin-top: 10px;
    
}

label {
    color: white;
    font-size: 18px;
}

#register button{
    border: 0;
    width: 35vw;
    height: 5vh;
    margin-top: 18px;
    margin-left: 25px;
    font-size: 18px;
    color: white;
    border-radius: 25px;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    
}

input{
    opacity: 0.3;
    border-radius: 20px;
}

@media only screen and (min-width: 768px){
    body{
        background-image: url(./Assets/los-pilares-de-la-creacion.jpg);
        background-position: 25% 35%;
    }

   .container{
        display: flex;
        align-items: center;
        justify-content: center;
   }

   #register{
       margin-top: 30%;
   }

   #register button{
        width: 20vw;
        height: 7vh;
        margin-top: 30px;
        margin-left: 115px;
   }

    
}